* {
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}
.cmp-matka .number-generator-container {
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: url(../assets/images/matka-bg.jpg) no-repeat 100% center;
    background-size: contain;
    padding-left: 25%;
}

.cmp-matka .number-details-container {
    z-index: 1;
    top: 0px;
    left: 0px;
}

.cmp-matka .number-container .number-header > div.clear {
    clear: both;
}

.cmp-matka .number-container .number-header > button {
    margin: 1.25% 0px 0px;
}

.cmp-matka .number-details-container .number-details-wrapper {
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.cmp-matka .number-details-container .icon-close {
    font-size: 15px;
    font-weight: bold;
    top: 15px;
    right: 15px;
    height: 32px;
    width: 32px;
    border: 3px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.cmp-matka .number-details-container .icon-close:hover {
    border-radius: unset;
    background-color: #000000;
    color: #ffffff;
}

.cmp-matka .bet-amount-details > .bet-amount-container {
    max-height: 250px;
    overflow-y: auto;
}

.cmp-matka .bet-amount-details > .bet-amount-container thead {
    position: sticky;
    top: 0px;
}

.cmp-matka .number-container table td {
    font-size: 20px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    border: 3px solid #000000;
}

.cmp-matka .number-container table td:hover {
    color: #ffffff;
    background-color: #000000;
}

.cmp-matka .number-container table td > span {
    transition: all 0.1s ease-in-out;
}

.cmp-matka .number-container table td:hover span {
    transform: scale(1.5) rotateX(180deg);
}